# Gradle
.gradle/
build/
out/

# IDE
.idea/
*.iml
*.ipr
*.iws
.vscode/
*.code-workspace

# Eclipse
.project
.classpath
.settings/
bin/

# Minecraft
run/
runs/
logs/

# OS
.DS_Store
Thumbs.db

# Misc
*.log
